header {
    text-align: center;
  }
  .container {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    background-color: rgb(223, 220, 220);
  }
  .card1 {
    background-color: aqua;
    color: black;
    float: left;
    width: 500px;
    height: 120px;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 10px;
  }
  .card2 {
    background-color: rgba(127, 255, 212, 0.829);
    width: 140px;
    height: 120px;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
  }
  .card3 {
    background-color: #428bca;
    width: 750px;
    height: 120px;
    float: left;
    margin-top: 10px;
  }